@use '../../../styles/mixins.scss'as *;
@use '../../../styles/variables.scss' as *;

.project {

  margin: 0.5rem;

  @include beforeTablet {
    margin: 1rem;
  }

  &__header {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    padding: 1rem 0rem 1.5rem 0rem;

    @include beforeTablet {
      padding: 1.5rem 0 2rem 0;
      font-size: 1.8rem;
    }
  }

}