@use '../../../styles/mixins.scss' as *;

.layout {
  background-color: #202023;
  font-family: 'Asap',sans-serif;
  // max-width: 1000px;

  &__container {
    max-width: 768px;
    margin: 0 auto;
    // background-color: #202023;
  }

  &__content {
    margin: 1rem;
    
    
    @include tablet {
      margin: 1.5rem ;
    }
  }

}