@use "../../../styles/variables.scss" as *;

.about {
  margin: 1rem 0;
  
  &__interests {

  }

  &__interests__title {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    
    color: white;
    background-color: $myspace-blue;
  }

  &__interests__front {
    background-color: #dbeafe;
    border-right: 4px solid white;
    border-top: 4px solid white;
    border-left: 2px solid white;
    

    &:last-child {
      border-bottom: 4px solid white;
    }
    
  }

  &__education {
    border: 3px solid $myspace-blue;
    margin-bottom: 1rem;
    border-radius: 3px;
  }

  &__tech {
    border: 3px solid $myspace-blue;
    margin-bottom: 1rem;
    border-radius: 3px;
  }

  &__blurbs {
    font-size: 1.2rem;
    padding: 0 0.5rem;
    background-color: #f9c56c;
    color: #ED0707;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 1rem;
  }

  &__blurbs_card {
    padding: 1rem;
  }

  &__bio {
    padding-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
    
  }

  &__subhead {
    font-size: 1rem;
    padding: 0.5rem 0 1rem 0;
    color: $myspace-red;
    font-weight: bold;
  }

  &__blogs {
    
  }

  &__blogs_card {
    margin: 1rem 0;
    
  }

  &__blogs_post {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 1rem 0 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__blogs_footer {
    padding: 0.5rem;
    font-size: 0.8rem;

    span {
      font-size: 1.5rem;
    }
  }
}