@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss'as *;

.header {
  background-color: $myspace-blue;
  padding: 1rem ;
  
  @include tablet {
    padding: 1.5rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: bolder;
  }

}

