@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.blogs {
  margin: 1.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include beforeTablet {
    gap: 1.5rem;
    margin: 2rem 1rem 1.5rem 1rem;
  }


  &__card {
    padding: 1rem 0.5rem ;
    // margin-top: 1rem ;
    margin-left: auto;
    margin-right: auto;
    // padding: 1rem 0;
    max-width: 700px;

    @include tablet {
      padding: 1.5rem;
    }
  }

  &__card_excerpt {
    padding: 0 1rem;
  }
  &__card_footer {
    padding: 1rem 0 0.5rem 1rem;
    color: $myspace-blue;    
  }
}