@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.blogs {
  // margin: 1.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // border: 1px solid red;
  max-width: 800px;
  padding-top: 1rem;

  @include beforeTablet {
    gap: 1.5rem;
    margin: 0 auto;
    // margin: 2rem 1rem 1.5rem 1rem;
    
  }

  &__header {
    color: white;
  }

  &__header_title {
    font-size: 2em;

    @include beforeTablet {
        padding: 1.5rem 1rem 0rem 1rem;
    }
  }


  &__header_sub {
    padding: 1rem 0 0.5rem 0;
    font-size: 1rem;

      @include beforeTablet {
        padding: 1.5rem 1rem 1rem 1rem;
      }
    
  }



  &__card {

    padding-bottom: 1rem;

    @include beforeTablet {
      margin: 0 1rem;
    }
  }

  &__card_title {
    font-size: 1.5rem;
    font-weight: 600;

    padding: 1rem 0rem 0.5rem 0rem;

    @include beforeTablet {
      padding: 1.5rem 0rem 1rem 0rem;
    }
  }

  &__card_body {
    padding: 1rem;
    
    @include beforeTablet {
      padding: 1.5rem;
    }
  
  }

  &__card_date {
    padding-bottom: 1rem;
  }

  &__card_excerpt { 
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
  
  &__card_footer {
    padding: 0.5rem 1rem;
    text-align: right;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }

  }
}