@use '../styles/mixins.scss'as *;

.digi {

  max-width: 7680px;
  margin: 0 auto;

  
  &__header {
    padding: 1.5rem 1rem 0rem 1rem;

    @include beforeTablet {
      padding: 2rem 1rem 0rem 1rem;
    }
  }

  &__title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 1rem 0 1.5rem 0;
  }

  &__description {
    color: white;
    font-size: 1rem;
    
  }


  &__description_note {
    padding-top: 1rem;
    color: wheat;
    line-height: 1.5rem;
  }

  &__about {
    padding: 1rem;
  }


  &__about_head {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
  }

  &__about_description {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;

    @include beforeTablet {
      margin-top: 1rem;
    }
  }

  &__about_list {
    color: white;
    padding: 1.5rem 0 1rem 0;

    @include beforeTablet {
      padding: 2rem 0 1.5rem 0;
    }
  }

  &__about_list_item {
    color: white;
    font-size: 0.9rem;
    
    @include beforeTablet {
      font-size: 1rem;
    }
  }

  &__carousel {
    padding: 1rem;
  }
}