@use './styles/mixins.scss'as *;
@use './styles/variables.scss'as *;

.projectPage {

  padding: 0 1rem;
  // margin: 0 1rem;
  max-width: 800px;

  @include beforeTablet {
    margin: 0 auto;
  }

  &__header {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0;
    
  }

  &__body {
    margin: 1rem 0;
  }

  &__description {
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;
  }

  &__description_link {
    
    padding: 1rem 0 0.5rem 0;

    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__carousel {
    margin: 2rem 0 1rem 0;

  }

  &__stack {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 0;

  }

  &__button {
    text-align: right;
    padding: 1.5rem 0 0.5rem 0;
  }

  &__button_text {
    text-transform: none;
  }

}