$myspace-red: #ED0707;
$myspace-lightblue: #DBEAFE;
$myspace-blue: #60A5FA;
$myspace-darkblue: #1E40AF;
$myspace-orange: #f9c56c;

$profile-tablet:496px;
$before-tablet: 600px;
$tablet-size: 768px;
$midpoint-size: 900px;
$desktop-size: 1280px;