@use '../../../styles/mixins.scss'as *;

.about {
  
  margin: 1rem 0.5rem;
  box-shadow: rgba(3, 85, 22, 0.09) 0px 3px 12px;
  
  @include beforeTablet {
    margin: 1rem 1rem;
  }

  &__bio {
    line-height: 1.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    
    // padding: 0.5rem 0;

    @include beforeTablet {
      font-size: 1rem;
      padding: 1rem 0;
      line-height: 1.7rem;
    }
  }

  &__header {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    padding: 1rem 0rem 1.5rem 0rem;
    
    @include beforeTablet {
      padding: 1.5rem 0 2rem 0;
      font-size: 1.8rem;
    }
  }

}